a:hover{
	text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

img,
.side-bar .list-group-item,
.side-bar-card {
    border-radius: 3px;
}

.news-list-item{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.news-list-item:first-child{
	padding-top: 0;
}

.news-list-item img{
	max-width: 100%
}

.news-list-item .title{
	display: block;
	color: #444;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 5px;
}

.avatar{
	display: inline-block;
}

.avatar img{
	display: inline-block;
	width: 15px;
	height: 15px;
}

.side-bar-card{
	background: rgba(0,0,0,.1);
	margin-top: 15px;
	padding: 10px 0;
}

.flag{
	padding-top: 20px;
    padding-bottom: 20px;
}

.flag .text-lg{
	font-weight: bold;
	font-size: 14px;
}

.side-bar-card .card-title,
.side-bar-card .card-body{
	padding: 10px 15px;
}

.side-bar-card .card-title{
	font-size: 18px;
  	font-weight: bold;
  	padding-top: 0;
  	padding-bottom: 0;
}

.side-bar-card .card-body .list .item:hover {
  background: rgba(0,0,0,.05);
}

.side-bar-card .card-body .desc{
	color: #888;
}

.card-body .list .item .title {
  padding-bottom: 5px;
}

.card-body .list .item{
	margin-bottom: 20px;
}

.footer{
	margin-top: 20px;
	background: #999;
	padding:50px 0;
	text-align: center;
}

#toggle-checkbox:checked ~ div{
	display: block!important;
}


#toggle-label {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  display: none;
  padding:3px;
  border: 1px solid #000;
}

#toggle-label:hover,{
  color: #ff0000;
  background: #ccc;
}